@model IIBS.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd class = "col-md-10">
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>
        <dd class = "col-md-10">
            @Html.DisplayFor(model => model.First_Name)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>
        <dd class = "col-md-10">
            @Html.DisplayFor(model => model.Last_Name)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class = "col-md-10">
            @Html.DisplayFor(model => model.Division)
        </dd>
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.Title_and_Room)
        </dt>
        <dd class = "col-md-10">
            @Html.DisplayFor(model => model.Title_and_Room)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeID" />
        <div class="button" asp-action="Delete">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </form>
</div>
